h1 {
  margin: 0;
  font-family: "Avenir", sans-serif;
}

body {
  margin: 0;
  font-family: "Avenir", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

.login {
	display: grid;
	justify-content: center;
	grid-template-columns: 700px;
	margin: auto;
}

.login-text {
	text-align: center;
	padding: 10px;
	color: #00000080;
	margin: auto;
}

.warning-text {
	text-align: center;
	color: #DC143C;
	font-weight: bold;
}

.login-form {
	padding: 20px;
	text-align: center;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 300px;
	margin: auto;
}

.login-input {
	height:30px;
	font-size:14pt;
}

.login-button {
	font-size:14pt;
	background-color: #ffffff;
	border: 4px solid #00000080;
	border-radius: 10px;
	color: #00000080;
	margin: auto;
	min-width: 300px;
}

.login-button:hover {
	transform: translateY(-0.25em);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

.close-button {
	font-size:14pt;
	background-color: #ffffff;
	border: 0px solid #00000080;
	border-radius: 10px;
	color: #00000080;
	grid-column: 3/3;
	grid-row: 1/2;
}

.modal {
	display: grid;
	grid-template-columns: 1fr 9fr 1fr;
	grid-template-rows: 1fr 9fr;
	text-align: center;
	background-color: #ffffff;
	width: 50%;
	height: 50%;
	top: 20%;
	bottom: 30%;
	left: 20%;
	right: 20%;
	margin: auto;
	position: fixed;
	z-index: 1;
	border-radius: 10px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

.modal-content {
	grid-column: 2/3;
	grid-row: 2/2;
}

.modal-form {
	display: grid;
	margin: auto;
	text-align: center;
	justify-content: center;
	grid-template-columns: 300px;
}

.app {
	display: grid;
	justify-content: center;
	align-items: center;
}

.panes {
	display: grid;
	grid-column-gap: 60px;
}

@media (min-width: 800px) {
	.panes { grid-template-columns: repeat(2, 1fr); }
}

.options {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: auto;
	padding: 20px;
}

.single-option {
	margin: auto;
	padding: 10px;
	align-items: center;
}

.option-button {
	width: 80px;
	height: 80px;
	font-size:20pt;
	background-color: #ffffff;
	border: 4px solid #f85863;
	border-radius: 10px;
	color: #f85863
}

.option-button:hover {
	transform: translateY(-0.25em);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

.option-delete {
	height:25px;
	font-size:12pt;
	background-color: #ffffff;
	color: #f85863af
}

.option-delete:hover {
	transform: translateY(-0.25em);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

.startstop {
	padding: 10px;
	display: grid;
	justify-content: center;
}

.startstop-button {
	font-size:20pt;
	background-color: #ffffff;
	border: 4px solid #f85863;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	color: #f85863
}

.startstop-button:hover {
	transform: translateY(-0.25em);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

.addOption-form {
	padding: 30px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 10px;
	max-width: 50px;
	text-align: center;
	align-items: center;
}

.addOption-input {
	font-size:14pt;
	/* border: 2px solid #000000; */
	border: 4px solid #00000080;
	border-radius: 10px;
}

.addOption-button {
	font-size:14pt;
	background-color: #ffffff;
	border: 2px solid #000000;
	color: #00000080;
	border: 4px solid #00000080;
	border-radius: 10px;
}

.addOption-button:hover {
	transform: translateY(-0.25em);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

.header {
	text-align: center;
	padding: 20px;
	color: #00000080;
}

.header2 {
	color: #00000080;
}

.participants {
	color: #00000080;
}